In [245]:
import pandas as pd   ##loading the training data set
import numpy as np
import collections
import math 


X = pd.read_csv('C:\\Users\\HP\\Downloads\\Train_bank.csv', delimiter = ',')
X.head()

         V1       V2       V3       V4  Class
0 -2.882900   3.8964  -0.1888 -1.16720      2
1 -0.036127   1.5250  -1.4089 -0.76121      2
2 -1.710400  -4.7780   6.2109  0.39740      2
3 -3.820300 -13.0551  16.9583 -2.30520      2
4 -3.718100  -8.5089  12.3630 -0.95518      2

In [246]:

PC=[]
X1 = X.iloc[:,4]
C = collections.Counter(X1)      # Number of examples in each class

C = list(C.values())              



PC.append(float(C[0]/(C[0]+C[1])))  # Prior prob of class 2,Consider index 0 as class 2
PC.append(float(C[1]/(C[0]+C[1])))  # Prior prob of class 1,consider index 1 as class 1

    
X = np.array(X);


N = len(X) ;  #no.of training examples
M = 4;    #no of features

PC

[0.438, 0.562]

In [247]:
T = pd.read_csv('C:\\Users\\HP\\Downloads\\Test_bank.csv', delimiter = ','); ##Loading the test data
T.head()

n = len(T);  #no.of testing examples
print(n)

372

In [248]:
       
T = np.asarray(T); #converting list to numpy arrays

j=0;
k=0;
X0 = np.empty([C[0],4]);   #X0 for features of class 2
X1 = np.empty([C[1],4]);   #X1 for features of class 1

In [249]:
for i in range(0,N):
    if X[i,4] == 2:
        X0[j,:]=X[i,0:4]
        j+=1
    else:
        X1[k,:] = X[i,0:4]
        k+=1


    


M1 = np.empty([1,4]);
M0 = np.empty([1,4]);  
V1 = np.empty([1,4]);
V0 = np.empty([1,4]);  

for i in range(0,4):
        M1[0,i] = np.mean(X1[:,i])  # array containing mean of every feature for class 1
        M0[0,i] = np.mean(X0[:,i])  # array containing mean of every feature for class 2
        V1[0,i] = np.var(X1[:,i])   # array containing variance of every feature for class 1
        V0[0,i] = np.var(X0[:,i])   # array containing variance of every feature for class 2

In [250]:
pfc = np.ones(2)
Result_set=[]

In [251]:
for i in range(0,372):    #Testing examples
    product = 1 ;                        
    for j in range(0, 4):
        product = product * (1/(math.sqrt(2*3.14*V0[0,j])) * (math.exp(-0.5* pow((T[i,j] - M0[0,j]),2)/V0[0,j])))
    pfc[0] = product  ## pfc - the conditonal probability for both classes
 
    product = 1 ; 
    for j in range(0, 4):
        product = product * (1/(math.sqrt(2*3.14*V1[0,j])) * (math.exp(-0.5* pow((T[i,j] - M1[0,j]),2)/V1[0,j]))) 
    pfc[1] = product


    pcf = np.ones(2);  ## pcf - the posterior probability of both classes
    total_prob = 0;

    for i in range(0,2):
        total_prob = total_prob + (pfc[i] * PC[i]);
    
    for i in range(0, 2):
        pcf[i] = (pfc[i] * PC[i])/total_prob; ##Normalisation
    prediction = int(pcf.argmax());  
    Result_set.append(prediction)
l = len(Result_set)    


        
for i in range(l):
    if Result_set[i]==0:     #replacing 0 classes with 2
        Result_set[i]= 2
        
collections.Counter(Result_set)

Counter({1: 211, 2: 161})

In [252]:


y_pred = pd.Series(Result_set);    #predicted labels
y_actual = pd.Series(list(T[:,4])) #actual labels


confusion_matric = pd.crosstab(y_pred,y_actual);
confusion_matric    #CONFUSION MATRIX

col_0  1.0  2.0
row_0
1      177   34
2       23  138

In [257]:
#from confusion matrix
True_positive = 177
True_Negative = 138
False_positive = 23
False_negative = 34

In [258]:
Accuracy = (True_positive+True_Negative)/(True_positive+True_Negative +False_positive+False_negative);

In [259]:
Accuracy

0.8467741935483871